.loading-starter {
  animation: loadingAnimation 3s forwards;
  animation-delay: 1s;
}
.loading-line-box-container {
  animation: loadingLineBoxContainer 5s forwards;
}
.fade-in-scale {
  animation: FadeInScale 1s forwards;
}
.animation-opacity {
  animation: AnimationOpacity 0.3s forwards;
}
