@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Bai Jamjuree", sans-serif;
}

body p {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  padding-bottom: 8px;
}

h1 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 48px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 24px;
}

.loading-starter {
  animation: loadingAnimation 3s forwards;
}

@keyframes loadingAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
